#no7 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 0s;
}

#no2 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 0.5s;
}

#no6 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 1s;
}

#no5 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 1.5s;
}

#no3 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 2s;
}

#no4 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 2.5s;
}

#no1 {
  animation: fade-in-fwd 1.5s both;
  animation-delay: 3s;
}



@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
  }
}

@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1
  }
}