.bg {
  background-image: url(../assets/images/bg0.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.bg1 {
  background-image: url(../assets/images/bg1.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 90vh;
}

.header {
  position: relative;
  background-image: url(../assets/images/nav.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20% 0 5%;
  z-index: 1;

}

.header__nav ul {
  display: flex;

  gap: 55px;
}

.header__nav ul li a {
  color: #060606;
  font-size: 16px;
  font-weight: 500;
}