li {
  list-style: none;
}

a {
  text-decoration: none;
}
.nav {
  width: 100%;
  height: 4vw;
  background-color: rgba(227, 190, 150, 1);
  position: relative;
}

.container {
  width: 32vw;
  height: 100%;
  display: flex;
  position: absolute;
  left: 51vw;
}

.header {
  background-image: url(../../assets/images/nav.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20% 0 5%;
  z-index: 1;
}

.header__nav ul {
  display: flex;
  margin-top: 1rem;
  gap: 5.5rem;
}

.header__nav ul li a {
  color: #060606;
  text-decoration: none;
  font-weight: 500;
}

.header__nav ul li :hover {
  color: rgba(173, 70, 84, 0.5);
}

.introduce {
  position: absolute;
  display: none;
  width: 24vw;
  height: 3vw;
  top: 4.6rem;
  right: 22rem;
  background-color: rgba(205, 185, 166, 0.68);
  justify-content: space-around;
  align-items: center;
  z-index: 100;
}

.introduce a {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.introduce a:hover {
  color: rgba(173, 70, 84, 0.5);
}

.body {
  width: 100%;
  height: 75vw;
  background-image: url(../../assets/images-web1920-2/image.png.webp);
  position: relative;
}

.compare-title {
  width: 13vw;
  height: 4vw;
  position: absolute;
  top: 9vw;
  left: 44vw;
  font-size: 3vw;
  color: rgba(107, 74, 44, 1);
  font-weight: 400;
}

.compare-p {
  width: 22vw;
  height: 2vw;
  position: absolute;
  top: 14vw;
  left: 41vw;
  font-size: 1vw;
  color: #060606;
  font-weight: 400;
  color: rgba(107, 74, 44, 1);
}

.body-box-left {
  width: 38vw;
  height: 48vw;
  position: absolute;
  background-color: rgba(229, 229, 229, 1);
  bottom: 6vw;
  left: 7vw;
  border-radius: 2vw;
}

.body-box-right {
  width: 38vw;
  height: 48vw;
  position: absolute;
  background-color: rgba(229, 229, 229, 1);
  bottom: 6vw;
  right: 7vw;
  border-radius: 2vw;
}

.compare-img {
  width: 38vw;
  height: 21vw;
  position: absolute;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
}

.compare-img img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;
  object-fit: cover;
}

.compare-buttom {
  width: 23vw;
  height: 3vw;
  position: absolute;
  border-radius: 2vw;
  z-index: 1;
  position: absolute;
  display: flex;
  font-size: 2vw;
  letter-spacing: 1.5vw;
  justify-content: center;
  align-items: center;
}

#btn-left {
  bottom: 2vw;
  left: 8vw;
  background-color: rgba(107, 74, 44, 1);

}

#btn-right {
  bottom: 2vw;
  right: 7vw;
  background-color: rgba(207, 148, 93, 1);

}

.jiantou {
  width: 2vw;
  height: 2vw;
  position: absolute;
  z-index: 2;
}

.jiantou img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#jiantou-left {
  bottom: 2.5vw;
  left: 27vw;
}

#jiantou-right {
  bottom: 2.5vw;
  right: 9vw;
}

html {
  overflow-y: scroll;

}

body.modal-open {
  padding-right: 0 !important;
  
}

.madal-img {
  width: 69vw;
  height: 28vw;
}

.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-dialog {
  max-width: 80vw !important;
  max-height: auto !important;
  box-sizing: border-box !important;
}

.modal-content {
  width: 100%;
  height: 100%;
  box-sizing: border-box !important;
  background-color: #fcfcfc !important;
  padding-left: 7VW !important;
  padding-right: 7vw !important;
}

.modal-bottom-container {

  height: 28vw;
  display: flex;
}

.left-p-container {
  width: 28vw;
  height: 38vw;
  margin-top: 3vw;
  margin-left: 1vw;
  margin-right: 3vw;
}

<<<<<<< HEAD
.left-p-box {
  margin-top: 4vw;
}

=======
>>>>>>> main
.ui-img {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
}
<<<<<<< HEAD
.ui-img img{
  width:100%;
  height:100%;
  object-fit: cover;
}

.ui-container {
  width: 10vw;
  height: 4vw;
  display: flex;
}








=======

.ui-container {
  display: flex;
}

#jiantou-right {
  bottom: 2.5vw;
  right: 9vw;
}
>>>>>>> main
