@font-face {
  font-family: 'navfont';
  src: url('../../assets/fonts/navfont.ttf');
}

@font-face {
  font-family: 'text';
  src: url('../../assets/fonts/text.ttf');
}

@font-face {
  font-family: 'no1';
  src: url('../../assets/fonts/no1.ttf');
}

.header__nav ul li a {
  font-size: 2rem;
  font-family: 'navfont';
}

.kuang h3 {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 5.173rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  font-family: 'text';
}

.kuang2 h3 {
  font-size: 3.6rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 5.173px;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  font-family: 'text';
}

.p1 {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 3.449rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  font-family: 'text';
}

.p2 {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 3.449rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  font-family: 'text';
}

.pmuseum {
  font-size: 5.8rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6.653rem;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  vertical-align: top;
  font-family: 'no1';
}

.puse {
  font-size: 5.8rem;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 6.653rem;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  vertical-align: top;
  font-family: 'no1';
}

.pmain2 {
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  line-height: 4rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  font-family: 'text';
}

.pmain2 span {
  font-size: 4.8rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
}

.show p {
  font-size: 2.4rem;
  font-weight: 400;
  letter-spacing: 0.8rem;
  line-height: 4rem;
  color: rgba(0, 0, 0, 1);
  text-align: left;
  vertical-align: top;
  font-family: 'text';

}