html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

nav {
  position: relative;
  background-image: url(../../assets/images/nav.svg );
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20% 0 5%;
  z-index: 1;

}

.header__nav ul {
  display: flex;
  gap: 5.5rem;
}

.header__nav ul li a {
  color: #060606;

  font-weight: 500;
}

.header__nav ul li :hover {
  color: #754f27;

}

.content {
  width: 170.7rem;
  height: 307.1rem;
  background-image: url(../../assets/images/bg.svg);
  background-repeat: no-repeat;

}

.person {
  width: 100%;
  height: 128rem;
  background-image: url(../../assets/images-web-1920-8/main1bg.webp);
}

.main2box {
  width: 136.6rem;
  height: 87.2rem;
  margin: 23.2rem 14rem;
}

.main2box img {
  width: 100%;
}

footer {
  position: relative;
}

.foot1 {
  width: 170.7rem;
  position: absolute;
  bottom: 6.5rem;
}

.foot1 img {
  width: 100%;
}

.foot2 {
  width: 170.7rem;
}

.foot2 img {
  width: 100%;
}