html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}

nav {
  position: relative;
  background-image: url(../../assets/images/nav.svg );
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20% 0 5%;
  z-index: 1;

}

.header__nav ul {
  display: flex;
  gap: 5.5rem;
}

.header__nav ul li a {
  color: #060606;

  font-weight: 500;
}

.header__nav ul li :hover {
  color: #754f27;

}

.content {
  width: 100vw;
  height: 405vh;
  background-image: url(../../assets/images/bg.svg);
  background-repeat: repeat;
  background-position: center;
  position: relative;
  box-sizing: border-box;
}

.chuan {
  position: absolute;
  left: -1rem;
  top: 37.2rem;
  width: 34.7rem;
  opacity: 0.9;
}

.chuan img {
  width: 100%;
}

.person {
  width: 100%;
  height: 138rem;
  background-image: url(../../assets/images-web-1920-8/main1bg.webp);
}

.person1 {
  position: absolute;
  top: 47.7rem;
  left: 35.4rem;

}

.person1 img {
  width: 30.3rem;
}

.kuang {
  position: absolute;
  left: 36.2rem;
  top: 83rem;
}

.kuang h3 {
  position: absolute;
  left: 8rem;
  top: 10.5rem
}

.kuang2 {
  position: absolute;
  top: 68.4rem;
  left: 116.1rem;
}

.kuang2 h3 {
  position: absolute;
  left: 9.2rem;
  top: 12.5rem
}

.p1 {
  position: absolute;
  top: 101rem;
  left: 31.4rem;
  width: 37.8rem;
  height: 27.8rem;
}

.p2 {
  position: absolute;
  top: 45.2rem;
  left: 112.6rem;
  width: 37.8rem;
  height: 27.8rem;
}

.mid {
  position: absolute;
  left: 76.9rem;
  top: 47.7rem;
}

.font {
  position: absolute;
  top: 5rem;
  left: 0;
}

.panda {
  width: 128.4rem;
  height: 42rem;
  margin: 0 auto;
  transform: translateX(-3%);
}

.person2 {
  position: absolute;
  top: 88rem;
  bottom: 5rem;
  left: 114rem;
  z-index: 1;
  height: 43.8rem;
}

.person2 img {
  width: 30.3rem;

}

.cheng {
  position: absolute;
  top: 85rem;
  left: 132rem;
  z-index: 0;

}

.cheng img {
  width: 52rem;
  opacity: 0.9;

}

.main2box {
  width: 140.6rem;
  height: 87.2rem;
  margin-top: 13.2rem;
  margin-left: 17rem;
  box-sizing: border-box;
  position: relative;

}

.main2box img {
  width: 100%;
}

.pmuseum {
  margin: 10rem auto;
}

.puse {
  margin: 10rem auto;
}

.museum1 {
  position: absolute;
  left: 10.9rem;
  top: 10.6rem;
  width: 42.4rem;
  height: 56.7rem;
}

.museum2 {
  position: absolute;
  left: 40.5rem;
  top: 25.9rem;
  width: 39.5rem;
  height: 33.3rem;
}

.pmain2 {
  position: absolute;
  left: 82.2rem;
  top: 5rem;
  width: 56.3rem;
  height: 64rem;
}

.show {
  background-image: url(../../assets/images-web-1920-8/main2bg.webp);
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  height: 95rem;
}

.use1 {
  position: absolute;
  left: 10.1rem;
  top: 284.3rem;
  width: 42.657rem;
  height: 68.125rem;
  z-index: 0;
}

.main3box1:hover {
  opacity: 1;
}

.main3box1 {
  position: absolute;
  width: 42.657rem;
  height: 68.125rem;
  transform: translateY(-100.4%);
  background-color: rgba(166, 166, 166, 0.8);
  z-index: 1;
  opacity: 0;
  transition: 1s;

}


.use2 {
  position: absolute;
  left: 56rem;
  top: 283.7rem;
  width: 28.2rem;
  height: 34.8rem;
  z-index: 0;
}

.use3 {
  position: absolute;
  left: 83rem;
  top: 283.7rem;
  width: 28.3rem;
  height: 34.8rem;
  z-index: 0;

}

.usebox {
  position: relative;
  width: 55.5rem;
  height: 35rem;
  top: 2rem;
  left: 56rem;
  background-color: rgba(166, 166, 166, 0.8);
  z-index: 1;
  opacity: 0;
  transition: 1s;

}

.usebox:hover {
  opacity: 1;
}

.use4 {
  position: absolute;
  left: 55.6rem;
  top: 322.4rem;
  width: 55.4rem;
  height: 30rem;


}

.use4box {
  position: absolute;
  width: 55.36rem;
  height: 30.1rem;
  left: 0rem;
  top: 0rem;
  background-color: rgba(166, 166, 166, 0.8);
  opacity: 0;
  transition: 1s;
}

.use4box:hover {
  opacity: 1;
}

.use5 {
  position: absolute;
  left: 114.9rem;
  top: 284.3rem;
  width: 42.657rem;
  height: 68.125rem;
}

.use5box {
  position: absolute;
  width: 42.657rem;
  height: 68.125rem;
  top: 0;
  left: 0;
  background-color: rgba(166, 166, 166, 0.8);
  opacity: 0;
  transition: 1s;
}

.use5box:hover {
  opacity: 1;
}

.show .main3box1 p {
  margin: 5rem 3rem;
  width: 92%;

}

.show .use5box p {
  margin: 5rem 3rem;
  width: 92%;
}

#useboxp {
  position: absolute;
  left: 5rem;
  top: 5rem;

}

.show .use4box p {
  margin: 3rem 3rem;
  width: 92%;
}

footer {
  position: absolute;
}

.foot1 {
  width: 100vw;
  position: absolute;
  bottom: 6.5rem;
}

.foot1 img {
  width: 100%;
}

.foot2 {
  width: 100vw
}

.foot2 img {
  width: 100%;
}