@font-face {
  font-family: 'navfont';
  src: url(../../assets/fonts/navfont.ttf);
}

@font-face {
  font-family: 'text';
  src: url(../../assets/fonts/text.ttf);
}

.header__nav ul li a {
  font-size: 2rem;
  font-family: 'navfont', sans-serif;

}