.header {
    background-image: url(../../assets/images/indexnav.webp );
    background-repeat: no-repeat;
    background-size: cover;
    height: 6vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20% 0 5%;
    z-index: 1;

}

.header__nav ul {
    display: flex;

    gap: 5.5rem;
}

.header__nav ul li a {
    color: #060606;

    font-weight: 500;
}

.header__nav ul li :hover {
    color: rgba(173, 70, 84, 0.5)
}

.introduce {
    position: absolute;
    display: none;
    width: 24vw;
    height: 3vw;
    top: 4.6rem;
    right: 22rem;
    background-color: rgba(205, 185, 166, 0.68);
    justify-content: space-around;
    align-items: center;


}

.introduce a {
    color: rgba(0, 0, 0, 1);

}

.introduce a:hover {
    color: rgba(173, 70, 84, 0.5)
}

body {
    background-size: cover;
    background-image: url(../../assets/images-web-1920-4/demo.png);
    position: relative;
}



.img {
    width: 14vw;
    height: 21vw;

}

.img img {
    width: 100%;
    height: 100%;
    display: block;
    opacity: 100;
}

#pt1 {
    margin-top: 2vw;
    font-size: 0.9vw;
    text-align: center;
}

#pt2 {
    margin-top: 2vw;
    font-size: 0.9vw;
    text-align: center;
}

#pt3 {
    margin-top: 2.6vw;
    font-size: 0.9vw;
    text-align: center;
}

#pt4 {
    margin-top: 2vw;
    font-size: 0.9vw;
    text-align: center;
}

#pt5 {
    margin-top: 2vw;
    font-size: 0.9vw;
    text-align: center;
}
@font-face {
  font-family: 'no1';
  src: url('../../assets/fonts/no1.ttf');
}

@font-face {
  font-family: 'navfont';
  src: url('../../assets/fonts/navfont.ttf');
}

@font-face {
  font-family: 'text';
  src: url('../../assets/fonts/text.ttf');
}





#text {
    text-align: center;
}

.temp {
    width: 14vw;
    height: 21vw;
    padding: 0;
    margin: 0;
    border:6px solid rgba(175, 114, 9, 1);

    border-radius: 201px;
}

/* .temp:hover{
    border:5px solid rgba(0,0,0,1);
    border-radius: 199px;
} */
.temp p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28.74px;
    letter-spacing: 0;
    color: rgba(0, 0, 0, 1);
    margin-top: 4vw;
    margin-left: 2vw;
    margin-right: 2vw;
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(154, 98, 5, 1) !important;
    font-weight: 400 !important;
    font-size: 1.2vw !important;
    font-family: 'navfont';
    margin-top: 0.8vw;
}

@font-face {
    font-family: 'no1';
    src: url('../../assets/fonts/no1.ttf');


}

.body-center-container {
    margin-top: 13vw;
    display: flex;

    justify-content: space-between;

    padding-left: 5vw;
    padding-right: 5vw;

}

.img-p {
    margin-top: 2.5vw !important;
}

.si {
    width: 12vw;
    height: 6vw;
    position: absolute;
    top: 7vw;
    left: 10vw;
}

#fix {
    position: relative;
}
@font-face {
  font-family: 'no1';
  src: url('../../assets/fonts/no1.ttf');
}

@font-face {
  font-family: 'navfont';
  src: url('../../assets/fonts/navfont.ttf');
}

@font-face {
  font-family: 'text';
  src: url('../../assets/fonts/text.ttf');
}
