.header {
  background-image: url(../assets/images/nav.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20% 0 5%;

}

.header__nav ul {
  display: flex;

  gap: 55px;
}

.header__nav ul li a {
  color: #060606;
  font-size: 16px;
  font-weight: 500;
}